<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--<add key="SERP-private-nuget" value="https://nuget.s-erp.vn/nuget/" />-->
		<add key="SERP-private-nuget-v3" value="https://nuget.bkholding.vn/v3/index.json" protocolVersion="3" />
		<!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> -->
	</packageSources>
</configuration>